extends layout 

block content 
    h1= title 

    each category in categories 
        h3= `${category.name}s` 
        hr
        ul
            - const category_items = items.filter((item) => item.category._id.toString() == category._id.toString());
            if category_items.length
                each item in category_items 
                    li 
                        a(href=item.url) #{item.name}
            else 
                p #[strong There are no items in this category]
        br
    p  
        a(href="/items/create") Create new
                    
